/*fonts*/
@font-face {
    font-family: 'Gordita';
    font-weight: normal;
    font-style: normal;
    src:local('Gordita'), url("fonts/Gordita-Regular.ttf") format("truetype"), url("fonts/Gordita-Regular.woff") format("woff"), url("fonts/Gordita-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Gordita-Medium';
    src: url('fonts/Gordita Medium.woff') format("woff");
}

@font-face {
    font-family: 'Gordita-Light';
    src: url('fonts/Gordita-Light.woff') format("woff"), url("fonts/Gordita-Light.ttf") format("truetype");
}

/*  body elements*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #EEEBEA;
}
.navbar{
    z-index: 2;
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: white;
}

.header{
    display: flex;
    align-items:  center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    max-width: 1420px;
    height: 56px;
    background-color: #ffffff;
    margin: auto;
}


.main{
    position: relative;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 32px;
    width: 100%;
    max-width: 1420px;

    margin: auto;
    padding-top: 108px;
}


.main h3{
    grid-row: 1/span 1;
    grid-column: 5/span 8;
    background-color: white;
    margin: 0;
    padding: 36px 36px 48px;
    font-size: 32px;
    font-family: Gordita-Light, sans-serif;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 20px 30px rgba(36, 50, 66, 0.14);
}


.image{

    /*background-color: azure;*/
    width: 488px;
    height: auto;
    grid-row: 2/span 1;
    grid-column: 1/span 5;
    object-fit: cover;
}

.desc{
    padding-top: 64px;
    width: inherit;
    /*background-color: yellow;*/
    font-family: Gordita, sans-serif;
    grid-row: 3/span 1;
    grid-column: 1/span 5;
}

.desc p{
    display:inline-block;

}

.table{
    grid-column: 5/span 8;
    grid-row: 2/span 2;
    background-color: white;
    margin: 0;
    padding: 0 36px;
    box-shadow: 0 30px 30px rgba(36, 50, 66, 0.14);
    height:105%;
    overflow: auto;
    z-index: 1;
    /*display:flex;*/
}
.tableElement{
    /*background-color: lightskyblue;*/
    height:auto;
    grid-column:5/span 8;
    grid-row: 2/span 1;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.table p, .required{
    color: orange;
    font-family: Gordita-Bold, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-bottom: 12px;
}
.combine{
    display: flex;
    height: 50px;
    /*background-color: yellow;*/
    width: 100%;
    /*justify-content: space-between;*/
    align-items: center;
}
.combine p{
    font-family: Gordita, sans-serif;
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 17px;
    /*background-color: lightcoral;*/
}

.required{
    font-size: 16px;
}

.tile{
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.tile input{
    height: 50px;
    padding-left: 12px;
    background-color: white;
    box-shadow: transparent;
    border: 1px solid #727272;
    border-radius: 3px;
}

.tile label, .textArea label{
    font-family: Gordita, sans-serif;
    /*background-color: lightskyblue;*/
    height: 50px;
    /*font-size: 16px;*/
    min-width: max-content;
    /*width: max-content;*/
    display: flex;
    align-items: center;

}

.tile select{
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: transparent;
    border: 1px solid #727272;
    border-radius: 3px;
}

::placeholder, .selector{
    font-size: 16px;
    font-family: Gordita-Light, sans-serif;
    box-shadow: none;
    color: #727272;
}

input::placeholder{
    top: 0;
    left: 0;
    position: absolute;
    padding-bottom: 5em;
}

.textArea{
    margin-bottom: 32px;
}

textarea{
    width: calc(100% - 30px);
    height: 150px;
    background-color: white;
    border: 1px solid #727272;
    border-radius: 3px;
    font-size: 16px;
    font-family: Gordita-Light, sans-serif;
    box-shadow: none;
    color: #727272;
    padding: 15px 15px 15px 16px;
    resize: none;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

.agreeCheckbox{
    width: 100%;
}

.agreeCheckbox span{
    font-family: Gordita, sans-serif;
    color: #727272;
}

.agreeCheckbox a{
    color: #0D0E10 !important;
    text-decoration: underline;
}

.submit{
    margin-top: 20px;
    height: 100%;
    /*background-color: lightskyblue;*/
    /*width:100%;*/
}

.ourClients{
    display: flex;
    flex-direction: row;
    margin-top: 86px;
    width: 100%;
    height: 196px;
    background-color: #ffffff;
    align-items: center;
}

.containerClient{
    width: calc(100% - 64px);
    margin-left: auto; margin-right: auto;
    /*background-color: greenyellow;*/
}

.gridClient{
    /*background-color: lightgreen;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1420px;
    margin-left: auto; margin-right: auto;
    align-items: center;
}

.cell img{
    max-width: 150px;
    overflow: clip;
}

.sitefooter{
    width: 100%;
    background-color: #151b26;
    color: white;
    padding: 32px 0px;
    font-family: Gordita,sans-serif;
}

.wideContainer{
    max-width: 1312px;
    width: calc(100% - 128px);
    margin: auto;
}

.flexContainer{
    display:flex;
    padding: 0 8.33333%;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: start;
    align-items: center;
}

.roundBox{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apps{
    display: flex;
    align-items: center;
    justify-content: center;

}


.googleicon{
    max-width: 135px;
}
